Repository INTERSECT-SDK/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-lock-check, pdm-export-lock

pdm-lock-check:
  name: PDM Lock Check
  description: run pdm lock --check to validate config
  entry: pdm lock --check
  pass_filenames: false
  language: system

pdm-export-lock:
  name: PDM Export Lock
  description: Verify lock can be exported to requirements.txt format
  entry: pdm export
  pass_filenames: false
  language: system

add docs docker image
  docs/Dockerfile
Due: none

fix Docker build
  .dockerignore
  Dockerfile
  pdm.lock
  pyproject.toml
Due: pdm-lock-check, pdm-export-lock

improve conda generation script
  bin/generate_miniconda_environment_file.py
Due: none

fix CI/CD
  .gitlab-ci.yml
  bin/generate_miniconda_environment_file.py
  docs/Dockerfile
  pyproject.toml
Due: pdm-lock-check

docker golf
  docs/Dockerfile
Due: none

forgot to install pytest-cov
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  README.md
  pdm.lock
  pyproject.toml
Due: pdm-lock-check, pdm-export-lock

CI/CD mistake
  .gitlab-ci.yml
Due: none

fix CI/CD
  .gitlab-ci.yml
  Dockerfile
  pdm.lock
  pyproject.toml
Due: pdm-lock-check, pdm-export-lock

fix CI/CD
  .gitlab-ci.yml
Due: none

fix some comments about TOML imports
  src/intersect/common/config_functions.py
Due: none

put version in source code, use dynamic version for packaging
  bin/generate_miniconda_environment_file.py
  pyproject.toml
  src/intersect/__init__.py
Due: pdm-lock-check

fix CI/CD + dynamic versioning
  Dockerfile
  pyproject.toml
  src/intersect/__init__.py
  src/intersect/version.py
Due: pdm-lock-check

🤦
  Dockerfile
Due: none

add separate version file for docker build
  Dockerfile
Due: none

Move brokers out of client directory
  src/intersect/brokers/__init__.py
  src/intersect/brokers/amqp_client.py
  src/intersect/brokers/broker_client.py
  src/intersect/brokers/message_handler.py
  src/intersect/brokers/mqtt_client.py
  src/intersect/client/brokers/__init__.py
  src/intersect/client/channel.py
  src/intersect/client/client.py
Due: none

Remove the common directory
  examples/python-environment/client-server-counting/client2.py
  examples/python-environment/client-server-counting/server2.py
  examples/python-environment/hello-world-dict/adapter.py
  examples/python-environment/hello-world-dict/requestor.py
  examples/python-environment/hello-world-yml/adapter.py
  examples/python-environment/hello-world-yml/requestor.py
  examples/python-environment/inspecting-messages/message_inspector.py
  examples/python-environment/inspecting-messages/status_publisher.py
  src/intersect/__init__.py
  src/intersect/adapter.py
  src/intersect/base.py
  src/intersect/common/__init__.py
  src/intersect/config_functions.py
  src/intersect/config_models.py
  src/intersect/exceptions.py
  src/intersect/logger.py
  src/intersect/utils.py
Due: none

proper conda generation script, add version_info attribute
  bin/generate_conda_environment_file.py
  bin/generate_miniconda_environment_file.py
  environment.yml
  pdm.lock
  pyproject.toml
  src/intersect/__init__.py
  src/intersect/version.py
Due: pdm-lock-check, pdm-export-lock

Add HierarchyConfig and BrokerConfig to init
  src/intersect/__init__.py
Due: none

remove conda generation script
  bin/generate_conda_environment_file.py
  environment.yml
Due: none

drop coverage percentage to 40 for now
  pyproject.toml
Due: pdm-lock-check

git ignore conda environment files
  .gitignore
  environment.yml
Due: none

update gitignore
  .gitignore
Due: none

#31 - add bandit, refactor code to not use assert statements
  .gitlab-ci.yml
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/intersect/adapter.py
  src/intersect/client/client.py
Due: pdm-lock-check, pdm-export-lock

#9 - add flake8-bugbear and fix linting errors found
  .gitlab-ci.yml
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/intersect/adapter.py
  src/intersect/brokers/broker_client.py
  src/intersect/client/channel.py
  src/intersect/client/client.py
  tests/test_binary_handler.py
  tests/test_json_handler.py
  tests/test_string_handler.py
Due: pdm-lock-check, pdm-export-lock

#32 - add all tests from prior repositories
  .gitlab-ci.yml
  pdm.lock
  pyproject.toml
  tests/__init__.py
  tests/exampleMessageHandler.py
  tests/fixtures/test-config-incomplete.json
  tests/fixtures/test-config-invalid-nested-schema.toml
  tests/fixtures/test-config-invalid.yaml
  tests/fixtures/test-config-valid.toml
  tests/integration/__init__.py
  tests/integration/test_AmqpBrokerClient.py
  tests/integration/test_MqttBrokerClient.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/test_adapter.py
  tests/unit/test_binary_handler.py
  tests/unit/test_channel.py
  tests/unit/test_client.py
  tests/unit/test_config.py
  tests/unit/test_json_handler.py
  tests/unit/test_service.py
  tests/unit/test_string_handler.py
  tests/unit/test_utils.py
Due: pdm-lock-check, pdm-export-lock

add CD for new tag release, remove references to 'next' branch
  .gitlab-ci.yml
  chart/values.yaml
  docs/Dockerfile
Due: none

rename test files to conform to snake case
  tests/integration/test_amqp_broker_client.py
  tests/integration/test_mqtt_broker_client.py
Due: none

have filenames conform to PEP, move test fixture to fixtures directory
  tests/fixtures/example_message_handler.py
  tests/integration/test_amqp_broker_client.py
  tests/integration/test_mqtt_broker_client.py
Due: none

#9 - some minor Flake8 extensions
  .flake8
  docs/conf.py
  examples/python-environment/client-server-counting/client.py
  examples/python-environment/client-server-counting/server.py
  pdm.lock
  pyproject.toml
  src/intersect/adapter.py
  src/intersect/base.py
  src/intersect/brokers/amqp_client.py
  src/intersect/messages/handlers/__init__.py
  src/intersect/messages/pb_derivatives.py
  tests/unit/test_config.py
Due: pdm-lock-check, pdm-export-lock

fix artifacts CI/CD
  .gitlab-ci.yml
Due: none

fix test
  tests/integration/test_amqp_broker_client.py
Due: none

Bump version 0.2.0 in src/intersect/version.py
  src/intersect/version.py
Due: none

Fix module paths in docs
  docs/api/adapter.rst
  docs/api/base.rst
  docs/api/brokers.rst
  docs/api/config_functions.rst
  docs/api/config_models.rst
  docs/api/exceptions.rst
  docs/api/utils.rst
Due: none

Add link to documentation website
  README.md
Due: none

Turn sphinx warnings into errors
  docs/Dockerfile
Due: none

explicit environment variable for SPHINXOPTS
  docs/Dockerfile
Due: none

[CHART] - use Bitnami OCI registry
  chart/Chart.yaml
Due: none

[CHART] default ingress path should be simple /
  chart/values.yaml
Due: none

remove init file for brokers
  src/intersect/brokers/__init__.py
  src/intersect/client/channel.py
  src/intersect/client/client.py
  src/intersect/version.py
  tests/fixtures/example_message_handler.py
  tests/unit/test_client.py
Due: none

Sets MQTT client not to use clean sessions
  src/intersect/base.py
  src/intersect/brokers/mqtt_client.py
  src/intersect/client/client.py
  tests/integration/test_mqtt_broker_client.py
  tests/unit/test_client.py
Due: none

Path conditions:
  pdm-lock-check: any of: ^pyproject.toml$
  pdm-export-lock: any of: ^pdm.lock$
